<!DOCTYPE html>
<html>

<head>

 
  <meta charset="utf-8">
  <title></title>
</head>

<body>
    <%- include('../partials/header') %>

    <div class="additems">

  <h1>Edit Item </h1>
  

  <article>
      
      <form id="add-grocery-form" action="/<%=groceryItem._id %>?_method=PUT" method="POST">
        <label>Name:</label>

        <input type="text" name="name" value="<%= groceryItem.name %>">
        <label>Price:</label>
        
        <input type="text" name="price" value="<%= groceryItem.price %>">
        
       
        <input type="submit" name="" value="Update Grocery Item" />
       </form>
      
    </article>
  </div>
</body>

</html>