
<!DOCTYPE html>
<html>
  <head>

    <title>Easy Grocery List</title>


    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@500&family=Delius&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Chelsea+Market&display=swap" rel="stylesheet">

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style></style>

  </head>
  <body>
    <%- include('../partials/header') %>

    <div class="bkgrndphoto"
    <!-- style="background-image: url('https://png.pngtree.com/png-vector/20191225/ourmid/pngtree-fast-food-icons-set-black-and-white-style-of-fast-food-png-image_2094521.jpg');" -->
    ></div>
      

    <main class="maincontent">

      <header  class="head">
      <h1>Welcome to Easy Grocery App!</h1>
    </header>
      
    <article class="subHead">
      <h2>Easy way to Keep track of your Groceries.</h2>
    </article>
      
    <div class="photo">
    <img src="/stylesheets/grocery.png">
    </div>
  

      <article class="addButton">
          <h4><a href="/show">Show Grocery List</a></h4>
        </article>
     
    </main>
  
  
</body>
  
