<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <div class="addlist">
  
  <%- include('../partials/header') %>
  
  <div class="additems"><
  <h1>Add groceries List</h1>
  <form id="add-grocery-form" action="/" method="POST">
  

    List Name: <input type="text" name="name" />
    
    <input type="submit" name="" value="Create Grocery List" />
  </form>
</div>
</body>
</html>
